@font-face {
    font-family: 'Entanglement';
    src: url('/assets/Entanglement-rgpRB.ttf');
  }
  html, body {
    font-size: 22px;
    background: rgb(230,140,255);
    background: radial-gradient(circle, rgba(230,140,255,1) 0%, rgba(255,121,0,1) 100%);
    font-family: 'DM Sans', sans-serif;
    padding: 0;
    margin: 0;
    color: rgb(80, 36, 144);
  }
  body {
    margin-top: 40px;
  }
  nav:first-child {
    position: fixed;
    background-color: rgb(127, 87, 159);
    padding: 10px;
    top: 0px;
    box-shadow: 0 0 10px;
    width: 100%;
  }
  nav:first-child ol {
    width: 800px;
    margin: 0 auto;
  }
  nav:first-child li {
    display: inline;
    margin: 0;
    color: #fff;
  }
  nav:first-child li a {
    background-color: transparent;
    padding: 10px 20px;
  }
  a {
    color: rgb(252, 250, 255);
    background-color: rgb(80, 38, 115);
    transition: all .5s;
    padding: 1px 3px;
    text-decoration: none;
  }
  a:hover {
    background-color: rgb(37, 2, 67);

  }
  .leaflet-control-attribution a, .leaflet-control-attribution a:hover {
    color: #000;
    background-color: inherit;
  }
  header {
    height: 40vh;
    background-image: url('toearthseed.png');
  }
  h1, h2 {
    font-family: 'Entanglement';
    font-weight: normal;
    width: 800px;
    margin: 40px auto 40px auto;
  }
  h1 {
    font-size: 80px;
  }
  h2 {
    font-weight: normal;
    font-size: 60px;
  }
  p img {
    display: inline;
    width: 25%;
    float: right;
  }
  section {
    width: 800px;
    background-color: rgb(252, 241, 255);
    padding: 10px;
    margin: 0 auto 40px auto;
  }
  footer section {
    background-color: transparent;
    color: #000;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  footer nav ol, footer p {
    margin: 0px;
  }
  footer nav ol {
    padding-left: 20px;
  }
  nav li {
    font-size: .7em;
  }
  footer nav li a{
    color: #000;
  }
  footer nav li a:hover{
    background-color: transparent;
  }
  .map {
    height: 220px;
  }
  @media (max-width: 800px) {
    header {
      background-position: -690px -170px;
    }
    nav ol  {
      width: auto;
    }
    h1, section {
      width: auto;
      margin: 0px 10px 40px 10px;
    }
  }